.ant-btn {
  width: 80px;
}
.list-panel {
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 5px;
}
.ant-btn-sm {
  font-size: 12px;
}
.old-notification {
  background-color: #f7f7f7;
  width: 100% !important;
}
.date {
  /* position: absolute; */
  /* top: 0; */
}
