.main-heading {
  font-size: 1.2rem !important;
  font-weight: bold;
  color: #001a25;
}
.table-tabs {
  float: right;
}
small {
  font-size: 0.8rem;
  color: #001a25;
}

.customSwitch .ant-radio-group {
  background: #f6f6f6 !important;
  height: 28px !important;
  border-radius: 28px !important;
  float: right !important;
}
.customSwitch {
  background: #f6f6f6 !important;
  height: 28px !important;
  border-radius: 28px !important;
  float: right !important;
}
label.ant-radio-button-wrapper {
  border: none !important;
  border-radius: 28px !important;
  padding: 2px 12px !important;
  font-size: 12px !important;
  margin: 2px 0 !important;
  background: transparent !important;
}
.ant-radio-button-wrapper:hover {
  color: #112337;
}
.ant-radio-button-wrapper:before {
  display: none !important;
}
.ant-radio-button-wrapper span.ant-radio-button {
  color: transparent;
}
.ant-radio-button-wrapper span.ant-radio-button:hover {
  background-color: transparent;
}
.ant-radio-button-wrapper span.ant-radio-button.ant-radio-button-checked {
  background: #112337;
  padding: 2px 6px !important;
  color: #fff;
  border: #ffdead;
  font-size: 12px;
  margin: 0 1px;
  border-radius: 26px;
}
